<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-lg" role="navigation">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <span style="display: inline-block; height: 40px; width: 40px; margin-right: 10px;">
                    <!--<svg
                    Adicionar logo aqui
                    </svg>-->
                </span>
                <span class="fw-bold">Olho Urbano</span>
            </a>
            <div class="d-flex gap-3">
                <!-- report -->
                <button class="btn btn-link p-0" href="/report" hx-target="#content">
                    <i class="bi bi-camera-fill fs-3"></i>
                </button>
                <!-- feed -->
                <button class="btn btn-link p-0" href="/feed" hx-target="#content">
                    <i class="bi bi-list-ul fs-3"></i>
                </button>
                <!-- map -->
                <button class="btn btn-link p-0" href="/map" hx-target="#content">
                    <i class="bi bi-map fs-3"></i>
                </button>
            </div>
        </div>
    </nav>
</header>